body {
  margin: 0;
  background-color: #1d1b1b;
  color: #737373;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

h1 {
  padding: 2%;
  font-size: 50px;
}

h2 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(145, 145, 145);
  font-size: 25px;
}

header {
  background: radial-gradient(
    circle,
    rgba(41, 41, 41, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #bfbfbf;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(91, 91, 91, 0.703);
  margin-bottom: 2%;
  margin-top: 1%;
}

#headerLogo {
  margin: auto;
  z-index: 1;
  display: block;
  position: relative;
  padding-top: 1%;
  height: 290px;
  width: 310px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(41, 41, 41, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  color: #5c5c5c;
  text-shadow: 1px 1px 3px #0e0e0e;
  margin-top: 2%;
  border-radius: 8px;
  box-shadow: 0 6px 8px 5px rgba(61, 61, 61, 0.703);
}

footer a {
  text-decoration: none;
  color: rgba(215, 215, 215, 0.4);
}

#socialMedia {
  text-align: center;
  letter-spacing: 4px;
  text-shadow: none;
  width: 100%;
  height: 20%;
  opacity: 0.6;
}

.fa-solid,
.fa-brands {
  color: rgb(145, 145, 145);
}

.row {
  margin-right: 0%;
  margin-left: 0%;
}

.toggle {
  width: 90px;
  height: 36px;
  float: right;
  position: relative;
  display: inline;
  margin-top: -1%;
  margin-right: 2%;
  background: #242424;
  border-radius: 36px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.toggleLight {
  background: #ebebeb;
}

.toggleDark {
  background: #242424;
}

.iconContainer {
  display: flex;
  flex-direction: column;
}

.toggleIconSun {
  display: inline-block;
  margin-left: -51%;
  font-size: 20px;
  line-height: 26px;
  color: #555;
  transition: opacity 0.3s ease;
}

.toggleIconMoon {
  display: inline-block;
  margin-left: -12%;
  font-size: 20px;
  line-height: 26px;
  color: #555;
  transition: opacity 0.3s ease;
}

label:after {
  content: "";
  width: 32.4px;
  height: 32.4px;
  position: absolute;
  top: 1.8px;
  left: 1.8px;
  border-radius: 32.4px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.switchBox::after {
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.switchBoxChecked:after {
  left: 88.2px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

label,
label:after {
  transition: 0.3s;
}

label:active:after {
  width: 50px;
}

.dark {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.darkHeader {
  background: radial-gradient(
    circle,
    rgba(41, 41, 41, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #626262;
  box-shadow: 0 4px 6px 0 rgba(91, 91, 91, 0.703);
}

.lightHeader {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 226, 255, 1) 100%
  );
  color: #484b6a;
  box-shadow: 0 4px 6px 0 rgba(46, 0, 35, 0.68);
}

.darkFooter {
  display: flex;
  justify-content: center;
  padding: 2%;
  background: radial-gradient(
    circle,
    rgba(41, 41, 41, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #5c5c5c;
  text-shadow: 1px 1px 3px #0e0e0e;
  box-shadow: 0 4px 6px 0 rgba(255, 235, 235, 0.703);
}

.lightFooter {
  display: flex;
  justify-content: center;
  padding: 2%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 226, 255, 1) 100%
  );
  color: #d0c9c9;
  text-shadow: none;
  box-shadow: 0 4px 6px 0 rgba(46, 0, 35, 0.68);
}

.light {
  background-color: #e4e5f1;
  color: #484b6a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.iconNotes {
  margin-left: 9%;
  margin-top: 13px;
  padding-top: 2px;
}

.mapStyle {
  width: 60vw;
  height: 72vh;
  margin-left: 3%;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(255, 235, 235, 0.703);
}

.mapbox-directions-component,
.mapbox-directions-inputs {
  width: 30vw;
  margin-right: 3%;
}

.directions-control.directions-control-directions {
  background: rgba(0, 0, 0, 0.75);
  margin: 11px 0 0;
  color: #fff;
  width: 30vw;
  height: 48vh;
  border-radius: 8px;
}

.mapLight {
  width: 60vw;
  height: 72vh;
  margin-left: 3%;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(46, 0, 35, 0.68);
}

.mapDark {
  width: 60vw;
  height: 72vh;
  margin-left: 3%;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(255, 235, 235, 0.703);
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.btn-primary {
  background-color: #54545466;
  border-radius: 8px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(59, 59, 59, 0.4);
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  color: #6f6f6f;
  border: none;
  padding: 7px;
  font-size: 16px;
  text-align: center;
}

.dropdown {
  z-index: 5;
  width: 30%;
  max-height: 50%;
  padding: 1.5%;
  margin: 0.5%;
}

#dropdown-menu-dark {
  background: rgb(27, 27, 27);
  box-shadow: 0 4px 6px 0 rgba(5, 5, 5, 0.68);
  padding: 1%;
}

.modal-content-light {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  box-shadow: 0 4px 6px 0 rgba(46, 0, 35, 0.68);
  border-radius: 33px;
  font-size: 17px;
  color: #3a3a3a;
  max-width: 30%;
  height: 40%;
}

.modal-content-dark {
  background-color: black;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  box-shadow: 0 4px 6px 0 rgba(255, 235, 235, 0.703);
  border-radius: 33px;
  font-size: 17px;
  color: #3a3a3a;
  max-width: 30%;
  height: 40%;
}

.temperature-container {
  display: flex;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modalFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modalHeaders {
  padding-right: 4%;
  padding-left: 10%;
  text-align: center;
  font-weight: bold;
  color: #50c8e6;
}

.modalText {
  margin-top: 5%;
  text-align: center;
  font-weight: normal;
  color: gray;
}
#weather-icon {
  margin-top: 5%;
}

/* --------------------- MEDIA QUERIES ----------------- */

@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }

  .mapStyle {
    width: 100%;
    height: 300px;
    margin-left: 0;
  }
  .toggle {
    width: 60px;
    height: 24px;
    margin-top: -1%;
    margin-right: 12%;
  }

  .toggleIconSun {
    display: inline-block;
    margin-left: -162%;
    font-size: 20px;
    line-height: 26px;
    color: #555;
    transition: opacity 0.3s ease;
  }

  .toggleIconMoon {
    display: inline-block;
    margin-left: -12%;
    font-size: 20px;
    line-height: 26px;
    color: #555;
    transition: opacity 0.3s ease;
  }

  label:after {
    width: 21.6px;
    height: 21.6px;
    top: 1.3px;
  }

  .switchBoxChecked:after {
    left: 58.2px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
  }

  label:active:after {
    width: 23px;
  }

  .mapbox-directions-component,
  .mapbox-directions-inputs {
    width: 90vw;
    margin: 9%;
  }

  .directions-control.directions-control-directions {
    background: rgba(0, 0, 0, 0.75);
    margin: 11px 0 0;
    color: #fff;
    width: 96vw;
    height: 38vh;
    border-radius: 8px;
  }

  .mapbox-directions-route-summary {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 28px;
  }

  .iconNotes {
    margin-left: 16px;
    margin-top: 13px;
    padding-left: 18%;
    padding-top: 2px;
  }

  .temperature-container {
    display: flex;
    flex-direction: column;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 6px 0 rgba(46, 0, 35, 0.68);
    border-radius: 33px;
    font-size: 17px;
    color: #3a3a3a;
    max-width: 30%;
    height: 58%;
  }

  #headerLogo {
    margin: auto;
    z-index: 1;
    display: block;
    position: relative;
    padding-top: 1%;
    height: 120px;
    width: 141px;
  }
}

@media screen and (min-width: 768px) {
  .toggle {
    width: 70px;
    height: 27px;
    margin-top: 2%;
    margin-right: 10%;
  }

  .switchBoxChecked:after {
    left: 68.2px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
  }

  label:after {
    width: 24px;
    height: 24px;
  }

  label:active:after {
    width: 28px;
  }

  #headerLogo {
    margin: auto;
    z-index: 1;
    display: block;
    position: relative;
    padding-top: 1%;
    height: 152px;
    width: 161px;
  }
}
