body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

h1 {
  padding: 2%;
  font-size: 50px;
}

header {
  display: flex;
  align-items: center;
  background-color:#1b2633;
  color: #4f647d;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #1b2633;
  color: #4f647d;
}

.toggle {
  border-style: outset;
  width: 400px;
  background-color: rgba(76, 175, 80, 0.15);
}

.dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  background-color: #243447;
  color: #9facb8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.darkHeader {
  background-color: #1b2633;
  color: #4f647d;
}

.lightHeader {
  background-color: #dfd8c3;
  color:#312f2e;
}

.darkFooter {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #1b2633;
  color: #4f647d;
}

.lightFooter {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #dfd8c3;
  color: #312f2e;
}

.dark li a {
  color: #bebebe;
}

.dark li a:hover {
  background-color: #111;
}

.light {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  background-color: #e9e3cf;
  color: rgb(90, 81, 77);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.light li a {
  color: black;
}

.light li a:hover {
  background-color: rgb(29, 128, 210);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(29, 128, 210);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(29, 128, 210);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.searchBar {
  display: flex;
  justify-content: center;
  margin: 1%;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.row {
  margin: 0%;
  display: flex;
}
.col {
  margin: 20px;
}

#card1 {
  background-color: white;
  width: 70%;
  margin: 2%;
  padding: 5%;
  box-shadow: 1px 1px 4px 0px #acb5c0;
}

#card2 {
  background-color: white;
  width: 70%;
  margin: 2%;
  padding: 5%;
  box-shadow: 1px 1px 4px 0px #acb5c0;
}

#card3 {
  background-color: white;
  width: 70%;
  margin: 2%;
  padding: 5%;
  box-shadow: 1px 1px 4px 0px #acb5c0;
}
